.contactIT-text {
  background-color: var(--bg-primary);
  height: 350px;
  color: var(--text-light);
  font-size: 380%;
}

.titlu-informatii-generale {
  color: var(--bg-dark);
  padding: 30px 0px;
}

.list-contact {
  border-bottom: 0.5px solid #ddd;
  padding-top: 12px;
}

.isDisabled {
  color: currentColor;
  opacity: 0.5;
  text-decoration: none;
}

.isDisabled:hover {
  color: black;
  opacity: 0.5;
  text-decoration: none;
}
